/*手机*/
.wrap-bg { overflow:hidden; padding-bottom:10px; }
.wap-bg {height: 672px; position: relative; }
.wap-bgpic{    position: absolute;top: 0;left: 50%;margin-left: -970px;}
.wap-wrapper { width:1000px; margin:auto; position: relative; z-index: 1;}
.wap-phone {width: 380px; height: 408px; margin:67px 0 0 31px; }
.wap-left { width:420px; float: left; position: relative; }
.wap-right,.app-right { width: 528px; float: right; position: relative; }
.wap-paper { background: url(../images/wap_paper.png) no-repeat; width:247px; height: 159px; background-size: 247px 159px; position: absolute; left:90px; top: 33px; z-index: 5; }
.wap-paper-pic { background: url(../images/ico_first_cp2.png); width: 419px; height: 76px; background-size: 419px 76px; position: absolute; left:40px ; top: 36px; z-index: 5;}
.wap-tit { background: url(../images/right-text.png) no-repeat; width: 492px; height: 244px; background-size: 492px 244px; margin:70px 0 0 23px;}
.wap-two { margin-top:47px; overflow: hidden;  }
.wap-two-left { float: left; width: 315px; font:20px/24px Microsoft Yahei; }
.wap-two-txt { color: #cf1d29; font-size: 20px }
.wap-search { margin-top:30px; }
.wap-two-right { float: left; width:198px; text-align: center; font:14px/24px Microsoft Yahei; color:#cf1d29;margin-left: 56px;margin-top: 6px;}
.wap-two-left{float: left;width:198px;text-align: center;font:14px/24px Microsoft Yahei;color:#cf1d29;margin-left: 30px;margin-top: 6px;}
.wap-two-bg {background: url(../images/wap_twopic.png) no-repeat;background-size: 198px 198px;width: 198px;height: 198px;padding:15px;box-sizing: border-box;position: relative;}
.wap-two-bg img { width:167px; height: 167px; }
.wap-search-txt { background: url(../images/app_search.png) no-repeat; width:292px; height: 42px; color:#cf1d29; line-height: 42px; padding-left: 35px; box-sizing: border-box; position: relative; margin-top:20px; }
.wap-search-txt a { width:57px; height: 42px; float: right;  }

.line-parallax {width: 100%; position: absolute; top: 0; left: 0px; height: 672px;transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;}
.layer { transform: translate3d(-2%,0.1%,0);  width: 100%; height: 100%; display: block; position:absolute; left: 0; top: 0; transform-style: preserve-3d; backface-visibility: hidden;}
.sectiOneLine1 { background: url(../images/ico_bg_line1.png) no-repeat; width: 237px; height: 117px; background-size: 237px 117px; position: absolute; left: 20px; top: 89px; z-index: 99 }
.sectiOneLine2 { background: url(../images/ico_bg_line2.png) no-repeat; width: 269px; height: 160px; background-size: 269px 160px; position: absolute; left:140px; top: 252px; z-index: 99}
.sectiOneLine3 { background: url(../images/ico_bg_line1.png) no-repeat; width: 237px; height: 117px; background-size: 237px 117px; position: absolute; right:98px; top: 57px; z-index: 99 }
.sectiOneLine4 { background: url(../images/ico_bg_line2.png) no-repeat; width: 269px; height: 160px; background-size: 269px 160px; position: absolute; right:128px; top: 205px; z-index: 99}
/*11.10xiæ ·å¼ä¿®æ”¹*/
 .app-right {margin-top: 150px; width: 475px}
.app-two{width: 490px;}
.app-phone {width: 482px; height: 428px; background-size: 482px 428px; margin:50px 0 0 30px; box-sizing: border-box; float: left;/*filter: drop-shadow(18px 15px 5px black);*/}
.app-right .app-tit {width: 445px; height: 244px; background-size: 445px 244px; margin:50px 0 0px 26px;/*filter: drop-shadow(18px 15px 2px black);*/}
.app-two-left {width: 515px; margin: -18px 0 0 -10px;}
.app-btn1,.app-btn2{ float: left; margin-left: 20px; width: 237px;}
.app_wap_menu { height:50px;  }
.app_center div { width:50%; background: #ee6f02; float: left; cursor: pointer; }
.app_center .menu-on { width:50%; background: #dd0303;}
a.app_menu,a.wap_menu { height:50px; text-align:right; color: #fff; font:20px/50px Microsoft Yahei; box-sizing: border-box; display: block; text-decoration: none; }
.app_menu { padding-right: 250px; }
a.wap_menu { text-align: left; padding-left: 250px; }
.wap-txt { font:32px/54px "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif; color: #DA202B; margin: 20px 0; }
.txt500 {     margin: 0px; font-size: 42px;font-weight: bold;font-style: italic;color: #ec1e29}
/*活动*/
.active-listbox {margin-top: 20px;}
.activetitle{margin-top: 10px;}
.active-pic{height: 122px;padding:15px 10px;border: 1px solid #eee;margin-bottom: 20px;}
.active-pic {height: auto;overflow: hidden;}
.active-pic  dt{width: 640px;cursor: pointer;}
.active-pic  dd{width: 280px;margin-left: 40px;}
.active-pic  dt,.active-pic  dd{float: left;}
.active-pic  dd h1{color: #ee7537;font-size: 20px;font-weight: 500;}
.active-word {display: none;}
.active-word.on{display: block;}
.active-word .top{background: #ff0000;}
.active-word p{font-size: 16px}
/* 资讯详情 */
.content_main .title_top {overflow:hidden;height:38px;line-height:38px;margin:10px auto 0;text-align:center;font-size:26px;font-family:'微软雅黑';font-weight:500}
.content_main .title_top h4 {float:left;margin-left:20px;font-size:16px}
.content_main .title_top .top_page {float:right;margin-right:10px;color:#7f2d00}
.content_main .title_top .top_page select {margin:10px 0}
.content_main .title_top .top_page a {color:#7f2d00}
.content_main .author {height:33px;line-height:33px;text-align:center;color:#999;border-bottom:1px dashed #d5d5d5}
.content_main .author .article_info {float:left}
.content_main .author .article_info span {margin-left:30px}
.content_main .author .click_num {float:right}
.content_main .author .click_num em {width:16px;height:16px;background-position:-32px 0;float:left;margin:10px 3px 0 0}
.content_main .author a {color:#666;text-decoration:none}
.content_main .author a:hover {color:#f00}
.content_main .content {margin:35px 8px;font-size:14px;line-height:34px}
.content_main .content p {line-height:26px; margin-top:18px; font-size: 12px !important; color: #333 !important;}
.content_main .list_ul {margin:30px 0 0 45px}
.content_main .list_ul li {font-size:14px;line-height:28px}
.content_main .list_ul li span {color:#666;margin-left:20px}
.content_main .top_links {/*height:34px;*/line-height:34px;background:#fffcf4;margin-top:8px;text-indent: 2em;}
.content_main .top_links a {font-size:14px;color:#2d96e9;margin-left:20px;text-decoration:none}
.content_main .top_links a.ac_link {color:#ea1506;float:right;font-weight:bold;margin-right:14px}
.content_main .top_links a.ac_link em {width:32px;height:16px;float:left;margin:11px 0 0 0;background-position:-32px -48px}
.content_main .content .content_editor {text-align:right;font-size:12px;color:#999}
.content_main .share-box {margin-bottom:35px}
.content_main .share-box .bdsharebuttonbox {margin-right:300px;margin-left:10px}
.content_main .share-box .content_editor {float:right;margin-top:5px}
.content_main .share-box .share_title {float:left;margin-top:5px}
/*常见问题*/
.help-wrap {font-size: 14px;background: #fff; margin:10px 0;color: black; padding:10px 30px; line-height: 24px; }
.help-wrap h3 { font-size: 18px; color: #fc9721; }
.help-wrap-tit { color: #c71f33; font-size: 14px; margin:15px 0 0; }