<!DOCTYPE html>
<html>
<head>
<meta name="referrer" content="always">
<meta name="renderer" content="webkit">
<meta name="referrer" content="unsafe-url">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link href="{CSS_PATH}home.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}style.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}jquery.slide.js"></script>
<script type="text/javascript" src="{JS_PATH}index.js"></script>
<script type="text/javascript" src="{JS_PATH}user.js"></script>
<script type="text/javascript" src="{JS_PATH}home_menu.js"></script>

<!--[if lte IE 8]>
<style>
.ie-alert-bg,.ie-alert-wrap { display:block!important;}
</style>
<![endif]-->
</head>
<body>
<div class="header-plus" id="header_plus">
    <div class="header-toptray-plus">
        <div class="quick-tpis">
            <i class="icon-acc"></i>
            <marquee id="sys_tip" behavior="scroll" onmouseover="this.stop()" onmouseout="this.start()">
                {pc:content  action="lists" catid="11" order="listorder ASC"  moreinfo="1"  }
                    {loop $data $val}
                        {$val['content']}
                    {/loop}
                {/pc}
            </marquee>
            <!-- onclick="window.open('{$CATEGORYS[8][url]}')" -->
            <div id="scroll" class="quick-list" style="width: 388px;" >
                <a id="news_url" href="{$CATEGORYS[29][url]}" target="_blank">联系我们</a><span style="margin-left: 2px;"> | </span>
                <div id="spread_url_1" style="display: none;">
                    <a href="javascript:;">推荐好友获收益<img style="margin-left: 2px;margin-bottom: 10px;" src="picture/hot_new.gif"></a><span> | </span>
                </div>
                <a href="{$CATEGORYS[28][url]}" style="color:red;font-weight:bold;">玩法</a><span> | </span>
                <a href="index.php?m=content&c=index&a=show&catid=21&id=3#help-1">帮助中心</a><span> | </span>
                <a id="agent_reg_url" href="{$CATEGORYS[27][url]}" title="加入代理"><span> | </span>加入代理</a>
                <a id="play_free" href="{$CATEGORYS[26][url]}"><span> | </span>免费试玩</a>
            </div>
        </div>
    </div>
</div>
<div class="liansai-wrap" id="liansai-wrap">
    <div class="liansai" id="liansai">
        <div class="wrapper clearfix relative">
            <h1 class="sprite sprite-logo">
            <a href="javascript:;"><img width="230" height="71" src="{pc:get sql="SELECT * FROM cp_picture WHERE catid='19'"  return="data"}
                                {loop $data $val}
                                    {$val[img]}
                                {/loop}
                            {/pc}" alt=""></a>
            </h1>
            <form action="http://ag.tt17168.com:81/Member/Login/?e=636644081872736343" method="post">
                <div id="header_user_login" class="wrap-login">
                    <div class="logxinxi" id="logxinxi">
                        <div class="top_login">
                            <div style="float:right;">
                                <div class="top-login-bg">
                                    <i class="icon-6"></i>
                                    <input class="top_loginip" id="loginName" name="loginName" type="text" placeholder="请输入用户名">
                                </div>
                                <div class="top-login-bg">
                                    <i class="icon-lock-icon"></i>
                                    <input class="top_loginip" id="loginPwd" name="loginPwd" type="password" placeholder="请输入密码" style="width: 70px;">
                                    <span style="position: relative;">
                                    <a href="javascript:;" style="float:left;color:blue;margin-top: 8px;">忘记密码</a>
                                    </span>
                                </div>
<!--                                 <div class="need_captcha">
                                    <div class="top_click" name="div_top_click">
                                        请输入验证码
                                    </div>
                                    <div class="yanzhengma">
                                        <div class="top-login-bg2">
                                            <input class="top_loginmm" id="authnum" name="authnum" maxlength="4" type="text" placeholder="验证码">
                                            <span class="register_captcha_span" style="margin:0; position: relative;">
                                            <img name="login_img" class="login_img">
                                            </span>
                                        </div>
                                    </div>
                                </div> -->
                                <input class="dr_anniu" type="button" name="login" onclick="if (finalcheck()==true) document.form_login.submit();" value="登录">
                                <input class="dr_anniu reg_anniu" type="button" value="注册" onclick="tiao()">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="header_user" class="logxinxi" style="display:none;">
                <div class="top_login">
                    <span>您好，<a href="javascript:;" class="play-jl" name="user_name"></a></span>
                    <span>可用余额：</span>
                    <span><a class="balance colorRed" id="a_show_money" rel="nofollow"><span id="balance" class="orange">￥</span></a>
                    </span>
                    <span><a id="header_money_refresh"><i class="icon-refresh-icon"></i></a></span>
                    <span>
                   &nbsp;|&nbsp;
                    <a href="javascript:;">用户中心</a>&nbsp;|&nbsp;
                    <a href="javascript:;">充值</a>&nbsp;|&nbsp;
                    <a href="javascript:;">提现</a>&nbsp;|&nbsp;
                    <a href="javascript:;">交易记录</a>&nbsp;|&nbsp;
                    <a href="javascript:;">个人消息<b id="un_read_msg_count" style="color:red;display:none;"></b></a>&nbsp;|&nbsp;
                    <a href="javascript:;">退出</a>&nbsp;
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<ul>
<div class="header-navbar-plus" >
    <div class="wrapper clearfix" id="header_box">
        <div class="lottery-plus" id="lotterys">
            <h2 class="">选择彩种 </h2>
            <div class="lotterys-list-hd" id="lotterysList" style="display:none">
                <a href="lottery-list-box">
                <ul class="lottery-list-box" id="lottery-list-box" onclick="window.open('{$CATEGORYS[8][url]}')">
                    <li class="mainGame">
                    <a href="javascript:;" class="mainA">
                    <i class="icon nav40-9"><img src="{IMG_PATH}53.png"></i>
                    <span class="color333">极速时时彩</span>
                    </a>
                    <a href="javascript:;" class="status-desc">1分半钟开奖</a>
                    </li>
                    
                    <li class="mainGame">
                    <a href="javascript:;" class="mainA">
                    <i class="icon nav40-9"><img src="{IMG_PATH}5.png"></i>
                    <span class="color333">重庆时时彩</span>
                    </a>
                    <a href="javascript:;" class="status-desc">最火爆的彩票</a>
                    </li>
                    <li class="mainGame">
                    <a href="javascript:;" class="mainA">
                    <i class="icon nav40-9"><img src="{IMG_PATH}54.png"></i>
                    <span class="color333">香港六合彩</span>
                    </a>
                    <a href="javascript:;" class="status-desc"></a>
                    </li>

                    <li class="mainGame">
                    <a href="javascript:;" class="mainA">
                    <i class="icon nav40-9"><img src="{IMG_PATH}9.png"></i>
                    <span class="color333">北京赛车(PK10)</span>
                    </a>
                    <a href="javascript:;" class="status-desc">5分钟开一期</a>
                    </li>


                    <li class="allGames clearfix" data-type="3">
                    <h3><i class="icon-billiard-ball"></i><span>全部</span></h3>
                    <ul class="clearfix game-list">
                        <li><a href="javascript:;">极速时时彩</a></li>
                        <li><a href="javascript:;">三分时时彩</a></li>
                        <li><a href="javascript:;">重庆时时彩</a></li>
                        <li><a href="javascript:;">极速PK10</a></li>
                        <li><a href="javascript:;">三分PK10</a></li>
                        <li><a href="javascript:;">北京赛车(PK10)</a></li>
                    </ul>
                    <i class="icon" id="open-btn-1" style="display: block;"></i>
                    <div class="line-fff" style="display: none;">
                    </div>
                    <div class="moreGames clearfix" style="display: none;" id="moreGames_3">
                        <div class="moreGames-box fl">
                            <div class="otherGames num-games">
                                <h3>全部</h3>
                                <ol>
                                    <li><a href="javascript:;">极速时时彩</a></li>
                                    <li><a href="javascript:;">三分时时彩</a></li>
                                    <li><a href="javascript:;">重庆时时彩</a></li>
                                    <li><a href="javascript:;">极速PK10</a></li>
                                    <li><a href="javascript:;">三分PK10</a></li>
                                    <li><a href="javascript:;">北京赛车(PK10)</a></li>
                                    <li><a href="javascript:;">极速⑥合彩</a></li>
                                    <li><a href="javascript:;">香港⑥合彩</a></li>
                                    <li><a href="javascript:;">幸运飞艇</a></li>
                                    <li><a href="javascript:;">PC蛋蛋(北京28)</a></li>
                                    <li><a href="javascript:;">广东快乐十分</a></li>
                                    <li><a href="javascript:;">重庆幸运农场</a></li>
                                    <li><a href="javascript:;">上海时时乐</a></li>
                                    <li><a href="javascript:;">天津时时彩</a></li>
                                    <li><a href="javascript:;">新疆时时彩</a></li>
                                    <li><a href="javascript:;">山东11选5</a></li>
                                    <li><a href="javascript:;">上海11选5</a></li>
                                    <li><a href="javascript:;">江西11选5</a></li>
                                    <li><a href="javascript:;">广东11选5</a></li>
                                    <li><a href="javascript:;">福彩3D</a></li>
                                    <li><a href="javascript:;">排列三</a></li>
                                    <li><a href="javascript:;">幸运快三</a></li>
                                    <li><a href="javascript:;">安徽快三</a></li>
                                    <li><a href="javascript:;">江苏快三</a></li>
                                    <li><a href="javascript:;">广西快三</a></li>
                                    <li><a href="javascript:;">江西快三</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    </li>
                </ul>
                </a>
            </div>
        </div>
        <ul class="nav-plus clearfix">
            {pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
                <li class="on"><a href="/">首页</a></li>
                {loop $data $r}<!--  一级栏目循环开始  -->
                <li><a {if $r['catid'] == $catid || $CATEGORYS[$CAT[parentid]][catid]==$r['catid']}class="h-nav-current" {/if} href="{$r[url]}">{$r[catname]}</a></li>
                {/loop}<!--  一级栏目循环结束-->
            {/pc}
        </ul>
    </div>
</div>
<script type="text/javascript">
      var urlstr = location.href;
    var urlstatus=false;
    $(".nav-plus a").each(function () {
         if ((urlstr + '/').indexOf($(this).attr('href')) > -1&&$(this).attr('href')!='') {
         $(this).parent("li").addClass('on');
         urlstatus = true;
         $(this).parents().siblings().removeClass("on");
       } else {
         $(this).parent("li").removeClass('on');
       }
    })
    function finalcheck() {
        if ($.trim($("#loginName").val()) == "") {
            alert('请填写“用戶名”！');
            return false;
        }
        if ($.trim($("#loginPwd").val()) == "") {
            alert('请填写“密码”！');
            return false;
        }
       
         
        var loginName = $("#loginName").val();
        var loginPwd = $("#loginPwd").val();
         
           
        $.post("http://ag.tt17168.com:81/Default.aspx", { loginName: loginName, loginPwd: loginPwd, verifycode: "1111" }, function (m) {
            if (m == "1" || m.length > 160) {
                location.href = "http://ag.tt17168.com:81/Member/LoginValidate.aspx";
            } else if (m == "0") {
                //需要修改密碼
            } else {
                alert(m);
            }
        });
        return true;
        return false;
    }
    function tiao(){
        location.href = "{$CATEGORYS[8][url]}";
    }

</script>
