/*-- main --*/
.wrap-bg {background:url(../images/wrap_bg.jpg) no-repeat center top; overflow:hidden; padding-bottom:10px; }
.part-left{width:248px;float:right }
/** 主页(该css文件只有cai33的主页，丢��? php 文件会引�?) **/
.tab-sel { font:14px/31px Microsoft Yahei; }
.notice-tab li.tab-more { width:68px; font-size: 14px;color: #f13131; }
/* 中奖排行�? */
.part-3-cont-right{ width:247px;  height:446px; padding-left:0; float: left; overflow: hidden;}
.tableCarousel{ position:relative;width:100%;}
.tableCarousel .thead div{ height:39px;  line-height:39px; font-size: 14px; font-weight: normal; width:50%;float:left;margin-left:-1px;margin-right:-2px;text-align:center;}
.tableCarousel  p>span{ padding:0 12px 0 15px; box-sizing: border-box; height: 37px; font-size: 12px; overflow: hidden; white-space:nowrap;}
.tableCarousel .tbody p>span:first-of-type>span { margin-right:10px;margin-top:10px;line-height:19px;border-radius:3px;display:inline-block; width:19px; height:19px; text-align: center; }
.tableCarousel  .tbody{position:absolute;z-index:4;top:39px;width:100%;cursor:pointer;}
.tableCarousel  .tbody p{width:100%;display:block;line-height:35px;}
.tableCarousel  .thead{width:100%;display:block;}
.tableCarousel  .thead p span{width:49%; display:inline-block;}
.tableCarousel  .tbody p>span{width:48%;}
.c-green{ float:right; text-align:center; }
.part-3-cont-right .ratetop {position:relative;z-index:9;height: 36px; line-height: 36px; box-sizing: border-box;   font-size:16px; padding-left:10px;}
/*--banner --*/
.slide{width: 100%; height: 285px; margin:0 10px 12px 0;}
.slideBox{ height: 285px; width: 743px; overflow:hidden; position:relative;float: right;margin:5px 5px 0 0;}
.slideBox .hd{ height:21px; overflow:hidden; position:absolute; right:10px; bottom:15px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin: 0 3px;  filter:alpha(opacity=50);opacity:0.5; width: 21px; height: 21px; overflow: hidden; text-decoration: none;  line-height: 21px;cursor:pointer;color: #fff; background: #181a17;text-align: center;}
.slideBox .hd ul li.on{  filter:alpha(opacity=100); opacity:1; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{  width:743px; height: 285px;  display:block;  }

/*-- 资讯列表 --*/
.part-2-cont-right { height:446px; font:16px/24px Microsoft Yahei; overflow:hidden; float: left; margin-left:10px; width: 436px; padding: 0 25px; }
.news-title{margin-top: 10px;}
.news-title a { text-align: center; font-size: 18px; display: block; line-height: 50px;}
.news-bar-content li { line-height: 30px; font-size: 14px; }
.news-bar-content li .pad { margin:0 10px; }
.news-bar-content li a:hover{color: #f13131;text-decoration: underline;}
/*弢�奖公�?*/
.title-top{height:38px;line-height:38px; }
.notice-tit{font: 16px/30px 'Microsoft Yahei';float:left;font-weight: bold;}
.notice-tit .icon{width:18px;height: 16px;background-position: -150px -60px;margin: -5px 5px 0 0;vertical-align: middle;_margin-top:5px;}
.notice-tab{border-bottom: 1px solid #e8e8e8;}
.notice-tab li{ float:left;width:90px;text-align:center;cursor: pointer; height: 40px; line-height: 40px;}
.notice-tab li a { display: block; margin-right: 2px;}
.notice-tab li.on {position: relative; }
.notice-tab li.on a{border-bottom: 2px solid #f13131;}
.notice-list li { padding:5px 10px 0; box-sizing: border-box;  line-height: 26px;  height: 101px; overflow: hidden; }
.notice-list li:last-child { border-bottom: 0 }
.notice-list .lot-name { float: left;margin-top: 4px;}
.notice-list .lot-name a{  font-size: 14px;}
.notice-list .lot-name a:hover{}
.notice-list span.term { float: right;margin-top: 4px;}
.notice-list .redball{ float: left;  font-size:16px;  margin-right: 8px;text-align: center;}
.notice-list .blueball{ float: left;font-weight: bold;margin-left: 6px;display: inline;}
.notice-list li.last{border-bottom: none;margin-bottom: 12px;overflow:hidden;zoom:100%;}
.notice-list li br{ clear:both; }
.draw-contents { height: 408px;}
.draw-contents .fr{ float:left;}
.notice-list li span.term{ display: block;  overflow: hidden; text-align: right; float: right;}
.notice-list li span.term a:hover{ text-decoration: none;}
.notice-list li .kjTab{ margin-top: 5px; margin-bottom: 0;}
.notice-list li .kjTab td{ text-align: center;}
.notice-list li .kjTab td .num{ font-weight: bold; padding: 0 3px;}
.notice-list li.first{border-bottom:none;margin-bottom: 0;}
.notice-list li.first .lot-name{margin-top: 12px;}
.notice-list li.first .term{margin-top: 12px;}
/*-- 彩种下注 --*/
.submain{ width:743px; margin-left:257px; height:280px;  margin-bottom: 30px;}
.quick-buy-box{ width: 470px; height: 283px; margin-top: 0;  box-sizing: border-box; float: left;}
.quick-tab-list { border-bottom: 1px solid #e8e8e8;}
.quick-tab-list li{ width:97px; height:44px;  text-align: center;  box-sizing: border-box; float:left;cursor: pointer;font: 14px/44px Microsoft Yahei; *width:95px;}
.quick-tab-list li a{ display: block; }
.quick-tab-list li a:hover{ text-decoration: none;}
.quick-tab-list li a label{ margin-left: 4px;width: 54px;height: 16px;text-align: center;font: 12px/16px '宋体';display: inline-block;position: relative;vertical-align: top;margin-top: 8px;}
.quick-tab-list li a label i{background-position: -390px 0;width:3px;height: 3px;position: absolute;left:-3px;top: 13px;}
.quick-tab-list li i{width: 7px;height:6px;background-position: -200px 0;position: absolute;top:-2px;left:-99999px;overflow:hidden;}
.qb-info{ height: 70px; line-height: 70px;}
.qb-info li{float:left;font-size:14px;}
.qb-info li.bztz{ overflow: hidden; float: right; }
.qb-info li span{color: #999;}
.qb-selectnumber{ height: 65px;line-height: 42px;  border-radius: 30px;}
.qb-selectnum{float:left; padding:0 0 0 15px;}
.qb-selectnum li{float:left;margin-right: 10px;_display:inline;width:42px;height: 42px;}
.qb-selectnum li.mr30{margin-right: 30px;}
.qb-selectnum li.qb-red{background-position: -300px -350px;}
.qb-selectnum li.qb-blue{background-position: -300px -300px;}
.qb-selectnum li input{width:41px;height:41px;margin: 12px 0 0 12px; text-align: center; font-size: 18px; border-radius:50%;line-height: 41px;}
.qb-selectnum li input.on{width:30px;height:20px;}
.sale_end_timer .red{font-weight: normal;}
.sale_end_timer{ width:110px;text-align:center;  font-weight: normal !important;}
.qb-tz-box{height:34px; font-size: 14px; margin-top:40px;  }
.qb-tz-box .bei-box{width:240px; margin-top: 3px;}
.dg-btn-box { float: left; }
.change-btn{width:270px;margin-right: 15px; vertical-align: middle;line-height: 34px;}
.change-btn:hover{ text-decoration: none;}
.change-btn i{ color:#939394; font-size: 17px; margin:0 3px 0 15px;vertical-align: middle;}
.bei-box { width:500px;}
.bei-box input{width:52px;  margin:0 2px;  text-align: center;line-height: 28px;height: 28px;vertical-align:top; float:left;}
.bei-box a{ width:28px;height: 28px;  display: inline-block; text-align: center;line-height: 28px;float:left;}
.bei-box a:hover{text-decoration: none;}
.dg-btn-box a.dg-tz-btn,.dg-btn-box .dgp-tz-btn{ float: left; text-align: center; width:99px; height:35px; vertical-align: middle; font:16px/35px Microsoft Yahei;}
.change-btn{ margin-right:15px; width:99px; height:35px; display: block; float: left;}
.bei-box{ line-height: 26px;}
.no-dg{width:510px;background: url(/cai33/statics/images/no_dg.png) 0 0 no-repeat;margin: 0 auto;}
.tz_bei_add{margin-right:10px; }
.qb-box-list { padding:0 15px; }
/*-- 二维码下�? --*/
.right-info { width:248px; float: right; }
.app-down { height: 155px; overflow: hidden; }
.down-tit { margin:1px; padding-left:10px;  height: 44px; line-height: 44px; font-size: 15px; }
.down-img { float: left; margin:9px 17px 0 8px;  width:90px; height: 90px; overflow: hidden;}
.down-img img { width:90px; height: 90px;}
.down-txt { margin-top:9px ; }
.down-txt a {font-size: 14px; display: block; overflow: hidden; margin-bottom:8px; line-height: 26px; cursor: pointer;  }
.down-apple i,.down-andoid i {color:#333; font-size: 22px; margin-right: 10px; text-decoration: none; vertical-align: middle; }
.mobile-more { margin-left:32px; float: left; line-height: 20px;color: #f13131 !important; }
/*-- 网站公告 --*/
.help-tab-box { height: 128px; }
.help-tab li { float: left; height: 36px; width: 123px; font-size: 14px;  line-height: 36px; text-align: center; }
.part-1-cont-right .help-tab-box ul li { padding: 0 10px; }
.help-ul { padding:10px; clear: both; line-height: 24px; }
/* 下面是首页公告，的弹�? */
.JS_blockPage{ display:none;border-radius:5px;z-index:1001;width:500px;min-height:220px;margin-left:-245px;margin-top:-160px;position:fixed;padding:0px;top:50%;left:50%;text-align:center; }
.detail_dialog{padding:17px;font-size:12px;line-height:18px;position:relative}
.JS_blockPage.big{animation:0.3s key_sb ease-out;-webkit-animation:0.3s key_sb ease-out;-ms-animation:0.3s key_sb ease-out;transform-origin:center;-webkit-transform-origin:center;-ms-transform-origin:center;}
@-webkit-keyframes key_sb{    0% {-webkit-transform:scale(0.5);opacity:0.8;} 100% {-webkit-transform:scale(1);}}
@-moz-keyframes key_sb{0% {-moz-transform:scale(0.5);;opacity:0.8;} 100% {-moz-transform:scale(1);}}
@keyframes key_sb{    0% {transform:scale(0.5);opacity:0.8;}     100% {transform:scale(1);} }
@-ms-keyframes key_sb{   0% {-ms-transform:scale(0.5);opacity:0.8;}    100% {-ms-transform:scale(1);}}
.JS_blockPage .shortWidth{width:80px;text-align:right;padding-right:5px;}
.detail_dialog>h3{ display:block;position:relative;font-size:16px;padding:5px 5px 15px 0;font-weight:normal;z-index:2;}
#block_close{width:18px;height:18px;display:block;z-index:3;position:absolute;top:17px;right:18px;cursor:pointer;background:url(/common/statics/img/icon/mdl-icon.png) no-repeat -11px -80px;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out}
#block_close:hover{transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg)}
.data{ margin-top:30px;font-size:12px;line-height:20px;text-align:left;height:100px;overflow:auto;border-radius:5px;padding:2px 10px;}
.JS_blockPage .c1{cursor:pointer;}
.JS_blockPage  .one{ padding:6px 5px 6px 5px;margin:0 10px;}
.JS_blockPage  .one:first-of-type{border-top:none;}
.JS_blockPage  .one>strong{ display:block;text-align:left;padding:3px 0;font-size:14px;}
.JS_blockPage  .one>p{display:block;text-align:left;line-height:1.42;}
.detail_dialog h4{ display:block;position:relative;font-size:12px;line-height:33px;font-weight:normal;padding-top:6px;}
.zdinfo td{ line-height:20px;padding-bottom:3px}
.detail_dialog .title{ margin-top:15px;height:35px;line-height:35px;text-align:left;padding-bottom:5px;position:relative}
.data-order{margin-top:12px;min-height:160px;max-height:270px;}




.tab-sel {  color: #6097cc;}
.part-3-cont-right{ background: #fff;border-bottom: 1px solid #e8e8e8;}
.tableCarousel .thead{ background-color:#f3f3f3;}
.tableCarousel .thead div{}
.tableCarousel .tbody p>span:first-of-type>span { background: #f13131;color: #fff;}
.tableCarousel .tbody p>span.orange{float: right; text-align: right;}
.tableCarousel  .tbody p{border-bottom:1px dotted #e8e8e8;}
.part-3-cont-right .ratetop {border-top:2px solid #f13131;background-color:#f13131;color:#fff;}
.slide .caption{ background: #844421;color: #FFF;}
.slide .pagination li{ color: #fff; background: #181a17;}
.slide .pagination li.current{ background: #2e8d3c;}
.part-2-cont-right {border-bottom: 1px solid #e8e8e8;}
.news-title a { color: #f13131;}
.draw-notice{ background:#fff;border-bottom: 1px solid #e8e8e8;}
.notice-tab li a {color:#333;}
.notice-tab li a:hover{color:#F13131;}
.notice-tab li.on a {}
/* .notice-list li { border-bottom: 1px solid #f13131;} */
.notice-list .lot-name {color:#999;}
.notice-list span.term {color: #666;}
.notice-list span.term a{color: #999;}
.notice-list .redball{ color: #f13131;}
.notice-list .blueball{color: #4495ff;}
.draw-contents .fr{color:#d8d8d8;}
.notice-list li .red{color: #F13131;}
.notice-list li b{color: #F13131;}
.notice-list li span.term{ color: #999999;}
.notice-list li span.term a{color: #666; }
.notice-list li span.term a:hover{color:#F13131;}
.notice-list li .kjTab{border-top: 1px #DADADA solid; border-left: 1px #DADADA solid;}
.notice-list li .kjTab td{border-right: 1px #DADADA solid; border-bottom: 1px #DADADA solid;}
.notice-list li .kjTab td .num{color: #F13131;}
.quick-buy-box{background: #fff;border-bottom: 1px solid #e8e8e8;}
.quick-tab-list { border-bottom:1px solid #e8e8e8;}
.quick-tab-list li{  color:#333;}
.quick-tab-list li a{color:#333a40;}
.quick-tab-list li.on a{border-bottom: 2px solid #f13131;}
.quick-tab-list li a label{color: #FFF;background-color: #ff900c;}
.notice-list li.bb{border-bottom: solid 1px #e4e4e4;}
.qb-info{color:#f13131;}
.qb-info li.bztz{ color: #ccc;}
.qb-selectnumber{}
.qb-selectnum li input{color:#fff;background: #f13833;}
.qb-selectnum li input.on{color:#fff;border: 2px #fff solid;border-radius: 2px;background: #036aba;}
.sale_end_timer .red{color:#ff6000;}
.sale_end_timer{color:#666;}
.change-btn:hover{color:#F9631E;}
.bei-box input{border:1px solid;color:#ccc;}
.bei-box a{color:#ccc;border:1px solid;}
.bei-box a:hover{background: #e8e8e8;color:#999;}
.dg-btn-box a.dg-tz-btn,.dg-btn-box .dgp-tz-btn{ background:#f13833;  color: #fff;}
.dg-btn-box .dg-tz-btn:hover,.dg-btn-box .dgp-tz-btn:hover{ background: #f13833 }
.change-btn{color:#333a40;cursor:pointer;}
.right-info { background: #f3f3f3;}
.down-tit {color: #fff; background: #f13131;}
.down-txt a { color: #333;}
.help-tab{border-bottom: 1px solid #e8e8e8;}
.help-tab li {color: #333;cursor: pointer;}
.help-tab li a { color: #333; }
.help-tab li.on { border-bottom:2px solid #f13131;}
.JS_blockPage{background-color:#F0F6F0; border:1px #E1E1E1 solid;}
.detail_dialog>h3{ border-bottom:1px #ea721a solid;color:#EA721A;}
.data{border:1px solid #F4F4F4;background:#fff;color:#555;}
.JS_blockPage  .one{border-top:1px dotted #D6DFD0;}
.JS_blockPage  .one>strong{color:#EA721A;}
.detail_dialog h4{color:#999;}
.zdinfo td{border-bottom:1px #d5d5d5 dashed;}
.detail_dialog .title{border-bottom:1px #d5d5d5 dashed;}